*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #222;
  color: #fff  ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  height: 100dvh;

  padding: 0 15px;

}
button{
  border:0;
  padding: 6px;
  
  
  cursor: pointer;
}
.ContainerTodoApp{
  width: 100%;
  max-width: 900px;
  margin: 100px auto 0 auto;


}